

:root {
    --spotify-green: #1DB954;
    --spotify-green1: #1db954a6;
    --spotify-black: #dadada;
    --spotify-light-black: azure;
    --spotify-grey: #575757;
    --spotify-white: #111010;
    --text-color: black;
    --hover-bg: white;
    --hover-bg1: white;
    --header-bg: rgba(220, 255, 245, 0.87);
    --hover-bg2: #dfdddd;
    --hover-bg3: #eff5f4;
    --transition-speed: 0.3s;
    --card-background: rgba(255, 246, 246, 0.98);
    --playlist-bg: #e7eedf;
    --art-bg: silver;
    --submenu-item-bg: azure;
    --now-playing-info-bg: rgba(240, 255, 255, 0.925);
    --tab-countent: rgba(255, 255, 255, 0.4);
    --active-shadow: 0 0 8px #2be0d7,
                     0 0 25px #2be0d7,
                     0 0 40px #2be0d7;
    --active-bg: linear-gradient(to bottom left, rgb(189, 65, 189), rgb(3, 151, 209), rgb(72, 233, 233));
    --sidebar-width: 250px;
    --modal-width: 50%;
}

.dark-mode {
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    --spotify-light-black: #282828;
    --spotify-grey: #B3B3B3;
    --spotify-white: #FFFFFF;
    --text-color: #fff;
    --hover-bg: #333;
    --hover-bg1: #111;
    --spotify-green1: #00e6508f;
    --header-bg: rgba(21, 54, 44, 0.87);
    --hover-bg2: #3E3E3E;
    --hover-bg3: #122020;
    --card-background: rgba(25, 20, 20, 0.98);
    --playlist-bg: #110707;
    --submenu-item-bg: rgba(255, 255, 255, 0.3);
    --now-playing-info-bg: rgba(0, 0, 0, 0.35);
    --art-bg: rgb(19, 18, 18);
    --tab-countent: rgba(0, 0, 0, 0.4);
    --active-shadow: 0 0 8px #1db985,
                     0 0 25px #1d88b9,
                     0 0 40px #098133cc;
    --active-bg: linear-gradient(to bottom right, rgb(173, 16, 173), rgb(53, 172, 53), rgb(235, 134, 151));
}
   
  .various-music-section {
            padding: 20px;
            margin: 2rem auto;
            border-radius: 18px;
            background-color: var(--hover-bg1);
        }

        .genre-selector {
            display: flex;
            gap: 10px;
            overflow-x: auto;
            padding: 10px 0 10px 0;
            margin-bottom: 20px;
            margin-left: 20px;
            scrollbar-width: none;
        }
        
        .genre-selector::-webkit-scrollbar {
            display: none;
        }
        
        .genre-btn {
            padding: 8px 20px;
            border-radius: 20px;
            border: none;
            background-color: var(--spotify-light-black);
            color: var(--text-color);
            cursor: pointer;
            transition: all var(--transition-speed);
            white-space: nowrap;
        }
        
        .genre-btn.active {
            background-color: var(--spotify-green);
            color: white;
            box-shadow: var(--active-shadow);
        }
        
        .genre-btn:hover:not(.active) {
            background-color: var(--hover-bg);
            transform: translateY(-2px);
        }
        

        .channels-wrapper {
            position: relative;
            max-width: 100%;
            padding: 0 40px;
        }

        .channels-section {
            margin: 20px 0;
            overflow: hidden;
            position: relative;
        }

        .channel-list {
            display: flex;
            gap: 15px;
            scroll-behavior: smooth;
            padding: 10px 0;
            overflow-x: hidden;
        }

        .channel-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            border-radius: 12px;
            flex: 0 0 auto;
        }

        .channel-avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 8px;
        }

        .channel-avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            background-color: rgba(255, 255, 255, 0.9);
            border: 1px solid #ddd;
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            transition: background-color 0.3s;
        }

        .arrow:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        .arrow.left {
            left: 0;
        }

        .arrow.right {
            right: 0;
        }

        .arrow.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
       

        .playlists-section {
            margin: 20px 0;
        }

        .playlist-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            max-width: 100%;
        }

        .playlist-card {
            background-color: var(--hover-bg);
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s;
        }

        .playlist-card img{
            width: 100%;
            object-fit: cover;
        }

        .playlist-card:hover {
            transform: scale(1.05);
        }
        
        .playlist-info{
            padding: 15px;
        }

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .music-search input {
            padding: 8px 15px;
            border-radius: 20px;
            border: 1px solid var(--spotify-grey);
            background-color: var(--spotify-light-black);
            color: var(--text-color);
            width: 300px;
        }
        
        .music-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px 0;
            }
        
                .music-card {
                    background-color: var(--hover-bg3);
                    color: var(--text-color);
                    border-radius: 8px;
                    overflow: hidden;
                    display: flex;
                    
                    transition: transform var(--transition-speed);
                    cursor: pointer;
                }
                
                .music-card:hover {
                    transform: scale(1.02);
                }
                
                .music-thumbnail {
                    position: relative;
                    width: 100%;
                    height: 100%;

                }
                
                .music-thumbnail img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .play-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity var(--transition-speed);
                }
                
                .music-card:hover .play-overlay {
                    opacity: 1;
                }
                
                .play-overlay i {
                    color: white;
                    font-size: 2rem;
                }
                
                .music-info {
                    padding: 12px;
                    width: 80%;
                }
                
                .music-info h3 {
                    color: var(--text-color);
                    font-size: 14px;
                    margin: 0 0 8px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                
                .music-info p {
                    color: var(--spotify-grey);
                    font-size: 12px;
                    margin: 0;
                }
    
        
        
        /* Add this CSS for the video player */
        .youtube-player-container {
            position: absolute;
            bottom: 10%;
            top: 22%;
            right: 20px;
            width: 400px;
            background: var(--hover-bg);
            border-radius: 8px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            z-index: 1002;
        }
        
        .youtube-player-container.hidden {
            display: none;
        }
        
        .youtube-player-container.expanded {
            width: 80%;
            height: 80vh;
            bottom: 10vh;
            top: 2vh;
            right: 10%;
        }
        
        .youtube-player-container.collapsed {
            width: 400px;
            height: auto;
        }
        
        .player-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: var(--hover-bg);
            border-radius: 8px 8px 0 0;
        }
        
        .drag-handle {
            cursor: move;
            padding: 5px;
            color: var(--text-color);
        }
        
        
        
        .player-controls-top button {
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
            padding: 5px;
            margin-left: 10px;
        }
        
        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
        }
        
        .video-wrapper #youtube-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .video-controls {
            padding: 10px;
            background: var(--spotify-light-black);
        }
        
        .video-progress {
            margin-bottom: 10px;
        }
        
        .progress-bar {
            height: 4px;
            background: var(--header-bg);
            cursor: pointer;
            margin-bottom: 5px;
        }
        
        .progress {
            height: 100%;
            background: var(--spotify-green);
            width: 0;
        }
        
        .control-buttons {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        
        .control-buttons button {
            background: none;
            border: none;
            color: var(--text-color);
            cursor: pointer;
            font-size: 1.2em;
        }
        
        .queue-container {
            background: var(--hover-bg);
            max-height: 300px;
            overflow-y: auto;
        }
        
        .queue-container.hidden {
            display: none;
        }
        
        .queue-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid var(--spotify-grey);
        }
        
        .queue-item {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: background 0.2s ease;
        }
        
        .queue-item:hover {
            background: var(--hover-bg);
        }
        
        .queue-item.active {
            background: var(--spotify-green1);
        }
        
        .queue-item img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        
        .queue-item-info {
            flex: 1;
            overflow: hidden;
        }
        
        .queue-item-info .title {
            display: block;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .queue-item-info .channel {
            font-size: 12px;
            color: var(--spotify-grey);
        }
        
        .removeFromQueue{
            padding: 3px 2px;
            outline: none;
            border-radius: 8px;
            border: none;
            background-color: #1DB954;
            color: var(--text-color);
        }
